<div class="mx-auto p-6">
  <!-- Grid con el Mapa y Checkboxes -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-4">
    <!-- Columna del Mapa -->
    <div class="order-1 md:order-none md:col-span-3">
      <div class="mb-4">
        <google-map
          [center]="center"
          [zoom]="zoom"
          [options]="{ mapTypeId: 'roadmap' }"
          class="w-full h-96">
          @for(marker of markers; track $index) {
            <map-marker [position]="marker.position" [title]="marker.title"></map-marker>
          }
        </google-map>
      </div>
    </div>
    
    <!-- Columna de Checkboxes -->
    <div class="order-2 md:order-none md:col-span-1 flex md:justify-start">
      <div class="form-control flex flex-col gap-4">
        <label class="flex items-center cursor-pointer label">
          <span class="label-text title text-xl">Events</span>
          <input type="checkbox" class="checkbox checkbox-secondary ml-2" [(ngModel)]="showEvents" (change)="onCheckBoxChange()"/>
        </label>
        <label class="flex items-center cursor-pointer label">
          <span class="label-text title text-xl">Info Points</span>
          <input type="checkbox" class="checkbox checkbox-secondary ml-2" [(ngModel)]="showInfoPoints" (change)="onCheckBoxChange()"/>
        </label>
        <label class="flex items-center cursor-pointer label">
          <span class="label-text title text-xl">All</span>
          <input type="checkbox" class="checkbox checkbox-secondary ml-2" [(ngModel)]="showAll" (change)="onCheckBoxChange()"/>
        </label>
      </div>
    </div>
  </div>

  <!-- Grid para las Cards de Eventos -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
    @if(events.length > 0){
      @for(event of events; track $index) {
        <div class="card shadow-xl border border-primary hover:text-primary cursor-pointer p-4">
          <h1 class="card-title title">{{ event.name }}</h1>
          <h3><b>Date:</b> {{ event.date | date: 'dd/MM/yyyy' }}</h3>
          <h3><b>Description:</b> {{ event.description }}</h3>
        </div>
      }
    }
  </div>
</div>



 







  

  

  
