<footer class="footer footer-center bg-secondary-gradient text-white p-4">
    <div class="flex flex-col md:flex-row justify-between">
        <ul class="flex flex-col md:flex-row gap-8">
          <li><a href="#" class="link underline hover:text-primary">Terms of Use</a></li>
          <li><a href="#" class="link underline hover:text-primary">Additional Content Information</a></li>
          <li><a href="#" class="link underline hover:text-primary">Privacy Policy</a></li>
          <li><a href="#"  class="link underline hover:text-primary">Your US State Privacy Rights</a></li>
        </ul>
    </div>
    <div class="text-center">
        <p>© 2025 App Runners. All rights reserved.</p>
    </div>
</footer>
  
