<div class="space-y-12">
  <!-- FIRST SECTION -->
  <section>
    <div class="flex justify-center items-center mt-8">
      <div class="bg-tertiary-gradient text-white px-8 py-16 w-full text-center rounded-lg shadow-xl">
        <h1 class="title text-5xl font-extrabold mb-4">ALL ABOUT RUNNING</h1>
        <p class="text-xl mb-4">Embrace the journey and keep running! Whether you're training for a marathon or just enjoying a daily jog, running brings joy, health, and accomplishment to every step.</p>
        <p class="text-lg">Join us to connect with like-minded runners, share experiences, and participate in exciting events that will keep you motivated on your running path.</p>
        <a routerLink="/events" class="inline-block mt-8 px-6 py-2 bg-primary text-white font-bold rounded-lg transform hover:scale-110 transition-all cursor-pointer">Join our community</a>
      </div>
    </div>
  </section>

  <!-- SECOND SECTION - Carrousel -->
  <section>
    <div class="carousel rounded-box mt-8">
      <div class="carousel-item">
        <img src="assets/images/run1.jpg" alt="Run" class="rounded-lg shadow-lg h-[600px] object-cover" />
      </div>
      <div class="carousel-item">
        <img src="assets/images/run2.jpg" alt="Run" class="rounded-lg shadow-lg h-[600px] object-cover" />
      </div>
      <div class="carousel-item">
        <img src="assets/images/run3.jpg" alt="Run" class="rounded-lg shadow-lg h-[600px] object-cover" />
      </div>
      <div class="carousel-item">
        <img src="assets/images/run4.jpg" alt="Run" class="rounded-lg shadow-lg h-[600px] object-cover" />
      </div>
      <div class="carousel-item">
        <img src="assets/images/run13.jpg" alt="Run" class="rounded-lg shadow-lg h-[600px] object-cover" />
      </div>
      <div class="carousel-item">
        <img src="assets/images/run6.jpg" alt="Run" class="rounded-lg shadow-lg h-[600px] object-cover" />
      </div>
      <div class="carousel-item">
        <img src="assets/images/run7.jpg" alt="Run" class="rounded-lg shadow-lg h-[600px] object-cover" />
      </div>
    </div>
  </section>

  <!-- THIRD SECTION  -->
  <section>
    <div class="flex justify-center items-center mt-12">
      <div class="bg-tertiary-gradient text-white px-8 py-16 w-full text-center rounded-lg shadow-xl">
        <h1 class="title text-5xl font-extrabold tracking-wide mb-4">JOIN OUR EVENTS</h1>
        <p class="text-xl mb-4">We host a wide variety of events from 5Ks to marathons, fun runs to charity events. No matter your experience level, there's an event for everyone!</p>
        <p class="text-lg">Whether you're just getting started or you're a seasoned runner, participating in events is a great way to challenge yourself, connect with others, and achieve your goals.</p>
        <a routerLink="/events" class="mt-6 inline-block px-6 py-2 bg-primary text-white font-bold rounded-lg transform hover:scale-110 transition-all cursor-pointer">See upcoming events</a>
      </div>
    </div>
  </section>

  <!-- FORUTH SECTION - images -->
  <section>
    <div class="flex justify-center items-center mt-12 ">
      <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-3 mb-8">
        <img src="assets/images/run5.jpg" alt="Run" class="rounded-lg h-80 shadow-lg w-full object-cover" />
        <img src="assets/images/run8.jpg" alt="Run" class="rounded-lg h-80 shadow-lg w-full object-cover" />
        <img src="assets/images/run9.jpg" alt="Run" class="rounded-lg h-80 shadow-lg w-full object-cover" />
        <img src="assets/images/run10.jpg" alt="Run" class="rounded-lg h-80 shadow-lg w-full object-cover" />
        <img src="assets/images/run11.jpg" alt="Run" class="rounded-lg h-80 shadow-lg w-full object-cover" />
        <img src="assets/images/run12.jpg" alt="Run" class="rounded-lg h-80 shadow-lg w-full object-cover" />
      </div>
    </div>
  </section>
</div>






  
  
  