<h2 mat-dialog-title>Editar Evento</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="data.title" />
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>


