<nav class="bg-gray-200 px-4 py-8">
  <div class="flex  justify-between">
    <!-- Main Links -->
    <div class="hidden lg:flex justify-start  gap-3">
      <a routerLink="/" class="title-link text-xl font-bold text-gray-600 hover:text-primary p-1 cursor-pointer">Home</a>
      <a routerLink="/calendar" class="title-link text-xl font-bold text-gray-600 hover:text-primary p-1 cursor-pointer">Calendar</a>
      <a routerLink="/map" class="title-link text-xl font-bold text-gray-600 hover:text-primary p-1 cursor-pointer">Maps</a>
      <a routerLink="/charts" class="title-link text-xl font-bold text-gray-600 hover:text-primary p-1 cursor-pointer">Charts</a>
    </div>
    <!-- Authentication -->
    <div class="hidden lg:flex gap-4">
      <a routerLink="/login" class="title-link text-lg font-bold  text-gray-600  hover:text-primary px-4 py-2 rounded-lg cursor-pointer"><i class="fas fa-user mr-4"></i>LOG IN</a>
      <a routerLink="/signup" class="title-link text-lg font-bold text-gray-600 hover:text-primary  px-4 py-2 rounded-lg cursor-pointer"><i class="fas fa-user mr-4"></i> SIGN UP</a>
    </div>
    <!-- Menú hamburguesa para pantallas pequeñas -->
    <div class="lg:hidden dropdown hamburger-menu">
      <label tabindex="0" class="btn btn-square  bg-primary hover:bg-tertiary"><i class="fas fa-bars text-white"></i></label>
      <ul tabindex="0" class="dropdown-content menu p-4 shadow-lg bg-primary rounded-box w-52">
        <li><a routerLink="/" class="title-link text-lg text-white hover:bg-tertiary">Home</a></li>
        <li><a routerLink="/calendar" class="title-link text-lg text-white hover:bg-tertiary">Calendar</a></li>
        <li><a routerLink="/map" class="title-link text-lg text-white hover:bg-tertiary">Maps</a></li>
        <li><a routerLink="/charts" class="title-link text-lg text-white hover:bg-tertiary">Charts</a></li>
        <li><a routerLink="/login" class="title-link text-lg text-white hover:bg-tertiary"><i class="fas fa-user"></i> Log In</a></li>
        <li><a routerLink="/signup" class="title-link text-lg text-white hover:bg-tertiary"><i class="fas fa-user"></i> Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>










  

