
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }

.title, .title-link{
    font-family: "Bebas Neue", serif;
    letter-spacing: 5px; 
}


.fc .fc-button  {
    @apply bg-tertiary text-white px-4 py-2 border-none;
}
  
.fc .fc-button:hover {
    @apply bg-primary text-white px-4 py-2 border-none;
}

.fc .fc-today-button:hover {
    @apply bg-primary text-white px-4 py-2 border-none;
}
  

  



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
