/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }

.title, .title-link{
    font-family: "Bebas Neue", serif;
    letter-spacing: 5px; 
}

  


